{
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "globalReturn": false,
            "impliedStrict": true,
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "browser": false,
        "node": false,
        "commonjs": false,
        "shared-node-browser": false,
        "es6": false,
        "worker": false,
        "amd": false,
        "mocha": false,
        "jasmine": false,
        "jest": false,
        "phantomjs": false,
        "protractor": false,
        "qunit": false,
        "jquery": false,
        "prototypejs": false,
        "shelljs": false,
        "meteor": false,
        "mongo": false,
        "applescript": false,
        "nashorn": false,
        "serviceworker": false,
        "atomtest": false,
        "embertest": false,
        "webextensions": false,
        "greasemonkey": false
    },
    "globals": {
    },
    "plugins": [
    ],
    "extends": [
      "standard"
    ]
}
